<div class="pontos-form-container">
    <a href="dashboard">Voltar</a>
    <h1>Criando um Ponto:</h1>
    <form action="/pontos/add" method="post">
    <div class="form-control">
        <label for="titulo">Ponto:</label>
        <input type="text" name="titulo" placeholder="Digite o ponto abordado...">
    </div>
    <input type="submit" value="Criar ponto">
    </form>
</div>