<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/pontos/add" class="btn">Criar pontos</a>
    </div>
    <h3>Seus pontos</h3>
    <ul>
        {{#each Pontos}}
        <li>
            <span class="label">{{this.title}}</span>
            <span class="actions">
                <a href="/pontos/edit/{{this.id}}" class="btn">Editar</a>
                <form action="/pontos/remove" method="post">
                    <input type="hidden" name="id" value="{{this.id}}">
                    <input type="submit" value="Excluir" class="btn">
                </form>
            </span>
        </li>
        {{/each}}
    </ul>
    {{#if pontosVazios}}
        <p>Ainda não há nenhum ponto criado, <a href="/pontos/add">crie aqui</a></p>
    {{/if}}
</div>