<div class="autenticacao-container">
    <h2>Entrar</h2>
    <form action="/pontos/dashboard" >
    <div class="form-control">
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Digite seu e-mail">
    </div>
    <div class="form-control">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" placeholder="Digite sua senha">
    </div>
        <input type="submit" value="entrar">
        <p><a href="/registrar">Não tenho uma conta</a></p>
    </form>
</div>
