<div class="autenticacao-container">
    <h2>Registrar</h2>
    <form action="/registrar" method="POST">
    <div class="form-control">
        <label for="nome">Nome:</label>
        <input type="text" name="name" placeholder="Digite seu nome" required>
    </div>
    <div class="form-control">
        <label for="email">E-mail:</label>
        <input type="email" name="email" placeholder="Digite seu e-mail" required>
    </div>
    <div class="form-control">
        <label for="senha">Senha:</label>
        <input type="password" name="senha" placeholder="Digite sua senha" required>
    </div>
    <div class="form-control">
        <label for="confirmasenha">Confirme sua senha:</label>
        <input type="password" name="confirmasenha" placeholder="Confirme sua senha" required>
    </div>
    <input type="submit" value="cadastrar">
    <p><a href="/login">Já tenho uma conta</a></p>
    
    
    </form>
</div>
